*{
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #232733;
  color: #FFFFFF;
  word-wrap: break-word;
}

a.logo{
  color: #87faeb;
  background: #232733;
}

.li {
  overflow: hidden;
}

div.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

h1{
  margin: 0.1em;
  color: #87faeb;
  font-weight: lighter;
  margin-left: 0.3em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

a{
  text-decoration: none;
}

a:hover{
  color: #87faeb;
}

.menu{
  color: #87faeb;
  background: #232733;
}


div.logo{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
  font-size: 1.2em;
}

ul.ayarlar{
  margin-top:0.1em;
}

ul.ayarlar li{
   display: block;
   float: right;
   margin-left: 0.8em;
   font-weight: bold;
}

div.bloklar{
  display: flex;
  flex-wrap: wrap;
}

div.icblok{
  display: flex;
}

div.secimler{
  width: 11em;
}

div.secim-buton{
  border-right: #232733 3px solid;
  background-color: #232733;
}

div.secim-buton:hover{
  border-right: #87faeb 3px solid;
  background-color: #182228;
  transition: 0.5s;
}

.baslik{
  color: #FFFFFF;
}

.secimler a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background:0;
  padding-top:0.2em;
  padding-bottom:0.2em;
  padding-left: 0.3em;
}

div.akis{
  width: 61em;
}

.bas{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-left: 1em;
  border-top: #40454f 1px solid;
  border-left: #40454f 1px solid;
  border-right: #40454f 1px solid;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-left: 3em;
  background-color: #121419;
  height: 1.3em;
  padding-top: 0.2em;
}

.bas *{
  background-color: #121419;
}

.bas div.li{
  width: 10em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.li a.link{
  margin-left: 3px;
}

.akis-element{
  background-color: #2f333d;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: #40454f 1px solid;
  padding: 0.6em;
  padding-left: 1.2em;
  margin-left: 1em;
  margin-bottom: 0.8em;
}
h1.konubaslik{
  margin-top: 0.2em;
  background: #2f333d;
}
.konu *{
  margin-left: 0.3em;
}

h2.kucuk{
  font-size: 1.2em;
  margin-top: 1em;
}

.akis p.metin{
  font-size: 1.1em;
  padding: 0.3em;
  border-top: 1px white solid;
  width: 95%
}

.akis p.metiny{
  font-size: 1.1em;
  padding: 0.3em;
  width: 95%
}
.yorum{
  margin-left: 1em;
}

.alt-yorum{
  margin-left: 4em;
  margin-right: 1em;
  margin-top: 0;
}

img.avatar{
  width: 1em;
  height: 1em;
}

img.head{
  border :#40454f 1px solid;
  width: 5em;
  border-radius: 0.3em;
}

.akis-ust{
  display: flex;
  flex-wrap: wrap;
}

.konu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

.akis p{
  margin: 0;
  color: #cccccc;
  font-size: 0.8em;
  font: italic;
  width: 40em;
}

div.akis-element div,h2,p,a{
  background-color: #2f333d;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}
.bilgiler{
  display: flex;
  flex-wrap: wrap;
}

.bilgiler div{
  display: flex;
  flex-wrap: wrap;
  width: 7em;
  padding-left: 1em;
}
.bilgiler a{
  margin-left: 3px;
}

div.akis a.link{
  color: #87faeb;
}
h2{
  margin: 0;
  font-size: 1.6em;
}


.forumlar{
  margin-left: 1em;
  margin-right: 1em;
  width: 10em;

}

.forumlar ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 0em;
  padding: 0;
  margin-top: 0.3em;
}

.forumlar h2{
  border-bottom: #87faeb 1px solid;
}

.forumlar *{
  background: #232733;
}

.forumlar .li{
  border-bottom: #232733 2px solid;
}

.forumlar .li:hover{
  color: #87faeb;
  font-size: 1.2em;
  border-bottom: #87faeb 2px solid;
  transition: 1s;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #87faeb20);
}

.altbar{
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5em;
  padding-right: 5em;
}

.altbar *{
  background: #232733;
  font-size: 0.7em;
}
