<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>akc-net alpha</title>
    <link href="../static/main.css" rel="stylesheet">
    <link rel="icon" href="../static/ico.png">
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../static/logo.svg" alt="akc logo"><h1><a class="logo" href="/">akc-net</a></h1>
      </div>
      <div class="ayarlar">
        <ul class="ayarlar">
          <li><a href="#" class="menu">user</a> olarak giriş yapıldı</li>
          <li>│</li><li style="color: #87faeb;"><a href="#" class="menu">? mesaj</a></li><li>│</li>
          <li style="color: #87faeb;"><a href="#" class="menu">? okunmamış cevap</a></li>
        </ul>
      </div>
    </div>

    <div class="bloklar">
      <div class="secimler">
        <div class="secim-buton" {% if duzen == 'populer' %} id="selected" {% endif %}><a href="/?duzen=populer&sayfa={{sayfa}}">Popüler konular</a></div>
        <div class="secim-buton" {% if duzen == 'yeni-mesaj' %} id="selected" {% endif %}><a href="/?duzen=yeni-mesaj&sayfa={{sayfa}}">Yeni mesajlar</a></div>
        <div class="secim-buton" {% if duzen == 'yeni-konu' %} id="selected" {% endif %}><a href="/?duzen=yeni-konu&sayfa={{sayfa}}">Yeni konular</a></div>
        <div class="secim-buton" {% if duzen == 'takip-forum' %} id="selected" {% endif %}><a href="/?duzen=takip-forum&sayfa={{sayfa}}">Takip edilen kategoriler</a></div>
        <div class="secim-buton" {% if duzen == 'takip-kisi' %} id="selected" {% endif %}><a href="/?duzen=takip-kisi&sayfa={{sayfa}}">Takip edilen kişiler</a></div>
        <div class="secim-buton" {% if duzen == 'sponsor' %} id="selected" {% endif %}><a href="/?duzen=sponsor">Sponsorlu konular</a></div>
      </div>
      <div class="icblok">
        <div class="akis">

          <div class="akis-element" {% if icerik < 1 %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.0 }}" class="baslik">{{ baslik.0 }}</a></h2>
                <div><a href="/{{ forum.0 }}" class="link">{{ forum.0 }}</a>  •  Okuma süresi: {{ sure.0 }}  •  {{ tur.0 }}</div>
                <div><p>→ {{ metin.0 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.0 }}</a></div>
              <div><p>{{ tarih.0 }}</p></div>
              <div><p>{{ yorum.0 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.0 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if icerik < 2 %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.1 }}" class="baslik">{{ baslik.1 }}</a></h2>
                <div><a href="#" class="link">{{ forum.1 }}</a>  •  Okuma süresi: {{ sure.1 }}  •  {{ tur.1 }}</div>
                <div><p>→ {{ metin.1 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.1 }}</a></div>
              <div><p>{{ tarih.1 }}</p></div>
              <div><p>{{ yorum.1 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.1 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if icerik < 3 %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.2 }}" class="baslik">{{ baslik.2 }}</a></h2>
                <div><a href="#" class="link">{{ forum.2 }}</a>  •  Okuma süresi: {{ sure.2 }}  •  {{ tur.2 }}</div>
                <div><p>→ {{ metin.2 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.2 }}</a></div>
              <div><p>{{ tarih.2 }}</p></div>
              <div><p>{{ yorum.2 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.2 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if icerik < 4 %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.3 }}" class="baslik">{{ baslik.3 }}</a></h2>
                <div><a href="#" class="link">{{ forum.3 }}</a>  •  Okuma süresi: {{ sure.3 }}  •  {{ tur.3 }}</div>
                <div><p>→ {{ metin.3 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.0 }}</a></div>
              <div><p>{{ tarih.3 }}</p></div>
              <div><p>{{ yorum.3 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.3 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.4 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.4 }}" class="baslik">{{ baslik.4 }}</a></h2>
                <div><a href="#" class="link">{{ forum.4 }}</a>  •  Okuma süresi: {{ sure.4 }}  •  {{ tur.4 }}</div>
                <div><p>→ {{ metin.4 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.4 }}</a></div>
              <div><p>{{ tarih.4 }}</p></div>
              <div><p>{{ yorum.4 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.4 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.5 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.5 }}" class="baslik">{{ baslik.5 }}</a></h2>
                <div><a href="#" class="link">{{ forum.5 }}</a>  •  Okuma süresi: {{ sure.5 }}  •  {{ tur.5 }}</div>
                <div><p>→ {{ metin.5 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.5 }}</a></div>
              <div><p>{{ tarih.5 }}</p></div>
              <div><p>{{ yorum.5 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.5 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.6 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.6 }}" class="baslik">{{ baslik.6 }}</a></h2>
                <div><a href="#" class="link">{{ forum.6 }}</a>  •  Okuma süresi: {{ sure.6 }}  •  {{ tur.6 }}</div>
                <div><p>→ {{ metin.6 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.6 }}</a></div>
              <div><p>{{ tarih.6 }}</p></div>
              <div><p>{{ yorum.6 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.6 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.7 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.7 }}" class="baslik">{{ baslik.7 }}</a></h2>
                <div><a href="#" class="link">{{ forum.7 }}</a>  •  Okuma süresi: {{ sure.7 }}  •  {{ tur.7 }}</div>
                <div><p>→ {{ metin.7 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.7 }}</a></div>
              <div><p>{{ tarih.7 }}</p></div>
              <div><p>{{ yorum.7 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.7 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.8 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.8 }}" class="baslik">{{ baslik.8 }}</a></h2>
                <div><a href="#" class="link">{{ forum.8 }}</a>  •  Okuma süresi: {{ sure.8 }}  •  {{ tur.8 }}</div>
                <div><p>→ {{ metin.8 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.8 }}</a></div>
              <div><p>{{ tarih.8 }}</p></div>
              <div><p>{{ yorum.8 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.8 }}</p></div>
            </div>
          </div>

          <div class="akis-element" {% if var.9 == False %} style="visibility: hidden;display: none;" {% endif %}>
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu" class="1">
                <h2><a href="konu/{{ id.9 }}" class="baslik">{{ baslik.9 }}</a></h2>
                <div><a href="#" class="link">{{ forum.9 }}</a>  •  Okuma süresi: {{ sure.9 }}  •  {{ tur.9 }}</div>
                <div><p>→ {{ metin.9 }}</p></div>
              </div>
            </div>
            <div class="bilgiler">
              <div><img src="../static/img.jpg" alt="1" class="avatar"> <a href="#" class="link">{{ yazar.9 }}</a></div>
              <div><p>{{ tarih.9 }}</p></div>
              <div><p>{{ yorum.9 }} yorum</p></div>
              <div><p class="okunmamis">{{ okunmamis.9 }}</p></div>
            </div>
          </div>

          <div id="mesajsec" >
            <a href="?duzen={{ duzen }}&icerik=3">3</a> | <a href="?duzen={{ duzen }}&icerik=5">5</a> | <a href="?duzen={{ duzen }}&icerik=10">10</a> | <a href="?duzen={{ duzen }}&icerik=20">20</a><p class="ig">içerik göster</p>
          </div>
        </div>
        <div class="">
          <div class="forumlar">
            <h2>Seçenekler</h2>
            <ul>
              <a href="/konuac" class=li>Konu Aç</a>
              <a href="https://duckduckgo.com/?q=site%3D%22akc.net%22" class=li>Arama yap</a>
            </ul>
          </div>
          <div class="forumlar">
            <h2>Forumlar</h2>
            <ul>
              <a href="#" class=li>#politika</a>
              <a href="#" class=li>#haber</a>
              <a href="#" class=li>#spor</a>
              <a href="#" class=li>#oyun</a>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="altbar">
      <a href="#">discord</a>
      <a href="#">hizmet koşulları</a>
      <a href="#">iletisim</a>
      <a href="#">reklam verenler</a>
      <a href="#">gizlilik politikası</a>
      <a href="#">hakkimizda</a>
    </div>
    <img src="logo.svg"> © Copyright 2021 Eren Bülbül
  </body>
</html>
