<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>konu ac</title>
    <link href="../static/main.css" rel="stylesheet">
    <link rel="icon" href="../static/ico.png">
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../static/logo.svg" alt="akc logo"><h1><a class="logo" href="/">akc-net/konuac</a></h1>
      </div>
      <div class="ayarlar">
        <ul class="ayarlar">
          <li><a href="#" class="menu">user</a> olarak giriş yapıldı</li>
          <li>│</li><li style="color: #87faeb;"><a href="#" class="menu">? mesaj</a></li><li>│</li>
          <li style="color: #87faeb;"><a href="#" class="menu">? okunmamış cevap</a></li>
        </ul>
      </div>
    </div>

      {% block content %}
        <h2>Kaydol</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit">Kaydol</button>
        </form>
      {% endblock %}


  </body>
</html>
