<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>akcnet test</title>
    <link href="../static/page.css" rel="stylesheet">
    <link rel="icon" href="../static/ico.png">
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../static/logo.svg" alt="akc logo"><h1><a class="logo" href="/">akc-net/{{ forum }}</a> </h1>
      </div>
      <div class="ayarlar">
        <ul class="ayarlar">
          <li><a href="#" class="menu">user</a> olarak giriş yapıldı</li>
          <li>│</li><li style="color: #87faeb;"><a href="#" class="menu">? mesaj</a></li><li>│</li>
          <li style="color: #87faeb;"><a href="#" class="menu">? okunmamış cevap</a></li>
        </ul>
      </div>
    </div>

    <div class="bloklar">
      <div class="icblok">
        <div class="akis">

          <div class="bas">
            <div class="li"><img src="../static/img.jpg" alt="1" class="avatar"><a href="#" class="link">{{ yazar }}</a></div>
            <div class="li"><p>{{ tarih }}</p></div>
            <div class="li"><p>{{ yorumsayi }} yorum</p></div>
          </div>
          <div class="akis-element">
            <div class="akis-ust">
              <div class="resim">
                <img src="../static/img2.jpg" alt="1" class="head">
              </div>
              <div class="konu">
                <h1 class="konubaslik">{{ baslik }}</h2>
                <div><a href="#" class="link">{{ forum }}</a> • Okuma süresi: {{ sure }} • {{ tur }}</div>
              </div>
              <p class="metin">{{ metin }}</p>
            </div>
          </div>

          {% for e in yorumveri %}
            <div {% if e.4 == 0 %} class="yorum" {% else %} class="alt-yorum" {% endif %}>
              <div class="bas">
                <div class="li"><img src="../static/img.jpg" alt="1" class="avatar"><a href="#" class="link">{{ e.1 }}</a></div>
                <div class="li yazar"><p>{{ e.2 }}</p></div>
                {% if e.4 == 0 %}<div class="li"><a href="/yanitla?konu={{ id }}&mesaj={{ e.3 }}" class="menu">yanıtla</a></div>{% endif %}
                {% if e.4 == 1 %}<div class="li">#{{ e.3 }}'e yanıt</div>{% endif %}
                {% if e.4 == 0 %}<div class="li" id="{{ e.3 }}" >#{{ e.3 }}</div>{% endif %}
              </div>
              <div class="akis-element">
                <p class="metiny">{{ e.5 }}</p>
              </div>
            </div>
          {% endfor %}

          {% if bosbirakma == "True" %} <h2 style="color: red">Boş ya da kısa mesaj girmeyiniz !</h2> {% endif %}
          <form class="konuacma" id="yorum-kutusu" action={{ yorumlink }} method="get">
            <label>Kullanıcı adınız:</label><br>
            <input type="text" id="yazar" name="yazar"><br>
            <label>Yorum</label><br>
            <textarea name="metin" rows="8" cols="80"></textarea><br>
            <input type="submit" value="Yolla">
          </form>

        </div>
        <div class="sagbant">
          <div class="forumlar">
            <h2>Konu ayarları</h2>
            <ul>
              <a href="#" class=li>Takip et</a>
              <a href="#" class=li>Görmezden gel</a>
              <a href="#" class=li>Yazarı engelle</a>
              <a href="#" class=li>Ayraç ekle</a>
              <a href="#" class=li>Şikayet et</a>
            </ul>
          </div>
          <div class="forumlar">
            <h2 class="kucuk">Anahtar kelimeler</h2>
              {% for a in anahtarlar%} <a href="anahtar/{{ a.0 }}">{{ a.0 }}({{ a.1 }}) </a> {% endfor %}
          </div>
        </div>

      </div>
    </div>
    <div class="altbar">
      <a href="#">discord</a>
      <a href="#">hizmet koşulları</a>
      <a href="#">iletisim</a>
      <a href="#">reklam verenler</a>
      <a href="#">gizlilik politikası</a>
      <a href="#">hakkimizda</a>
    </div>
  </body>
</html>
